{% extends 'base.html' %}
{% block content %}
{% load i18n %}

<!--  
by the way
u can use this superuser
name :abdu
email :ssss@gmail.com  , i am not sure about the email though
password : password

-->

<div class="row justify-content-center my-3">

    <div class="card col-md-6 gx-0  ">
    
        <div class="card-header container-fluid bg-success text-white">
            <h4>
                {% trans "sign up" %}
            </h4>
        </div>
        <div class="card-body">
            <form method='POST'>
                {%csrf_token%}

                {% include 'common/forms.html'  %}
                
               <input class="  btn btn-outline-success " type="submit" value="sign up"> </input>
            </form>

        </div>
    </div>

</div>


{% endblock content %}
