{% extends 'base.html' %}
{% block content %}
{% load i18n %}


<div class="row justify-content-center my-3">

    <div class="card col-md-6 gx-0  ">
    
        <div class="card-header container-fluid bg-success text-white">
            <h4>
                {% trans "login" %}
            </h4>
        </div>
        <div class="card-body">
            <form method='POST'>
                {%csrf_token%}

                {% include 'common/forms.html' with form=form %}
                
               <input class="  btn btn-outline-success " type="submit" value="save"> </input>
            </form>

        </div>
    </div>

</div>









{% endblock content %}